{% extends "layout.html" %}

{% block title %}
افزودن آزمون
{% endblock %}

{% block content %}

<div class="admin-form-page">

    <div class="admin-form-card">

        <h1>

            📝 افزودن آزمون

        </h1>

        <form method="POST">

            <input
            type="text"
            name="title"
            placeholder="عنوان آزمون"
            required>

            <select
            name="course_id"
            required>

                {% for course in courses %}

                <option
                value="{{ course.id }}">

                    {{ course.title }}

                </option>

                {% endfor %}

            </select>

            <button
            type="submit">

                ثبت آزمون

            </button>

        </form>

    </div>

</div>

{% endblock %}
